Repository S-codes14/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run lint:style, npm run format

save progress more work to do but not today
  .github/FUNDING.yml
  config/SiteConfig.ts
  src/components/Footer.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/style/all.scss
  static/assets/bg.jpg
  static/assets/bg.png
  static/assets/logo.jpg
  static/assets/logo.png
Due: npm run lint:ts, npm run lint:style, npm run format

first post setup
  blog/2018-10-01/index.md
  blog/2018-10-02/index.md
  blog/2018-10-03/index.md
  blog/2018-10-04/index.md
  blog/2018-10-05/index.md
  blog/2022-03-01/index.md
  src/favicon.png
  src/pages/index.tsx
  src/utils/typography.ts
Due: npm run lint:ts, npm run lint:style, npm run format

me trying to be stylish
  blog/2022-03-01/index.md
  src/components/Header.tsx
  src/pages/index.tsx
  src/theme/darkTheme.ts
  src/theme/lightTheme.ts
Due: npm run lint:ts, npm run lint:style, npm run format

What's on my mind
  blog/2022-04-04/index.md
Due: npm run lint:style, npm run format

edit
  blog/2022-04-04/index.md
Due: npm run lint:style, npm run format

Again yesterday on my phone
  2022-04-05/index.md
Due: npm run lint:style, npm run format

#2 and rearrange stuff
  .github/workflows/node.js.yml
  .github/workflows/prettier.yml
  .gitignore
  blog/2022-04-05/index.md
  package.json
Due: npm run lint:style, npm run format

Update prettier.yml
  .github/workflows/prettier.yml
Due: none

format first then check format
  .github/workflows/prettier.yml
Due: none

edit banner
  blog/2022-04-05/index.md
Due: npm run lint:style, npm run format

try again
  gatsby-node.js
  public/CNAME
  public/assets/bg.jpg
  public/assets/bg/1.jpg
  public/assets/bg/2.jpg
  public/assets/bg/3.jpg
  public/assets/bg/4.jpg
  public/assets/logo.jpg
  public/assets/mask.svg
  public/favicon-32x32.png
  public/icons/icon-144x144.png
  public/icons/icon-192x192.png
  public/icons/icon-256x256.png
  public/icons/icon-384x384.png
  public/icons/icon-48x48.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/index.html
  public/manifest.webmanifest
  public/page-data/404.html/page-data.json
  public/page-data/404/page-data.json
  public/page-data/blogs/back-to-school-😔/page-data.json
  public/page-data/blogs/hello-world-😄/page-data.json
  public/page-data/blogs/in-a-lonely-world-😔/page-data.json
  public/page-data/blogs/page-data.json
  public/page-data/categories/life/page-data.json
  public/page-data/categories/page-data.json
  public/page-data/contact/page-data.json
  public/page-data/dev-404-page/page-data.json
  public/page-data/index/page-data.json
  public/page-data/sq/d/3824141623.json
  public/page-data/tags/life/page-data.json
  public/page-data/tags/page-data.json
  public/page-data/tags/technology/page-data.json
  public/robots.txt
  src/components/Article.tsx
  src/components/PrevNext.tsx
  src/pages/index.tsx
Due: npm run lint:ts, npm run lint:style, npm run format

Update node.js.yml
  .github/workflows/node.js.yml
Due: none

Delete lock-file
  package-lock.json
Due: npm run lint:style, npm run format

try again
  package.json
Due: npm run lint:style, npm run format

The engine node is incompatible with this module. Expected version 12.x || 14.x. Got 16.14.2
  .github/workflows/node.js.yml
Due: none

The engine node is incompatible with this module. Expected version 12.x || 14.x. Got 16.14.2
  .github/workflows/node.js.yml
  yarn.lock
Due: none

Goals
  src/pages/Goals/index.md
Due: npm run lint:style, npm run format

New blog
  src/pages/I-have-feelings/index.md
Due: npm run lint:style, npm run format

Just to see what happens 🙄
  package.json
Due: npm run lint:style, npm run format

New blog
  src/pages/lack-of-motivation/index.md
Due: npm run lint:style, npm run format

lacked motivation just by it being there
  public/index.html
  public/page-data/Goals/page-data.json
  public/page-data/I-have-feelings/page-data.json
  public/page-data/back-to-school/page-data.json
  public/page-data/dev-404-page/page-data.json
  public/page-data/index/page-data.json
  public/page-data/lack-of-motivation/page-data.json
  public/render-page.js
  public/render-page.js.map
  src/pages/I-have-feelings/index.md
  src/pages/lack-of-motivation/index.md
Due: npm run lint:style, npm run format

try workflow
  .github/workflows/node.js.yml
Due: none

try again
  .github/workflows/node.js.yml
Due: none

Also uploaded a YouTube video about it
  src/pages/Opensourcing -my-startup/index.md
Due: npm run lint:style, npm run format

new post
  src/pages/my-intro-to-data-structure-and-algo/index.md
Due: npm run lint:style, npm run format

new post
  src/pages/how-to-write-algorithms/index.md
Due: npm run lint:style, npm run format

get rid of twitter, fix github edit
  src/templates/blog-post.js
Due: none

Path conditions:
  npm run lint:ts: any of: *.{ts,tsx}
  npm run lint:style: (any of: *.{ts,tsx}) or (any of: *.{scss,json,md})
  npm run format: (any of: *.{ts,tsx}) or (any of: *.{scss,json,md})
